body {
  margin-top: 0px;
}

.bgbox{
  background-color: #ffffff;
  margin: 10px 60px 10px 60px;
}

.logo_movement {
  float: left;
  margin-top: 10px;
}

.openprojectslab #open {
  color: #DB3F29;
}
.openprojectslab #projects {
  color: #2F88B9;
}
.openprojectslab #lab {
  color: #2E496E;
}

.openprojectslab #leaderboard {
  margin-top: 20px;
  font-size: 60px;

}



.rules {
  margin: 70px;
}

h3{
  font-size: 40px;
}

.flip-box {
  background-color: transparent;
  width: 500px;
  height: 100px;
  border: 1px;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
  margin-top: 20px;
  margin: 2px 2px;
  color: white;
  padding: 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  border-radius: 50px;
}

/* This container is needed to position the front and back side */
.flip-box-inner {
  position: center;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-box:hover .flip-box-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-box-front, .flip-box-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

/* Style the front side */
.flip-box-front {
  color: black;
}

/* Style the back side */
.flip-box-back {
  color: white;
  transform: rotateY(180deg);
}
.f1 {
  background-color: 9ACD32 ;
  color: black;
  border-radius: 50px;
}
.f2 {
  background-color: 00FF00;
  color: white;
  transform: rotateY(180deg);
  border-radius: 50px;
}
.f3 {
  background-color: FF7F50;
  color: black;
  border-radius: 50px;
}
.f4 {
  background-color: FFA500;
  color: white;
  transform: rotateY(180deg);
  border-radius: 50px;
}
.f5 {
  background-color: FFD700 ;
  color: black;
  border-radius: 50px;
}
.f6 {
  background-color: DAA520;
  color: white;
  transform: rotateY(180deg);
  border-radius: 50px;
}
.f7 {
  background-color: 800080;
  color: black;
  border-radius: 50px;
}
.f8 {
  background-color: 663399;
  color: white;
  transform: rotateY(180deg);
  border-radius: 50px;
}
.f9 {
  background-color: DC143C ;
  color: black;
  border-radius: 50px;
}
.f10 {
  background-color: CD5C5C;
  color: white;
  transform: rotateY(180deg);
  border-radius: 50px;
}
.f11 {
  background-color: 800000 ;
  color: black;
  border-radius: 50px;
}
.f12 {
  background-color: A52A2A;
  color: white;
  transform: rotateY(180deg);
  border-radius: 50px;
}
.f13 {
  background-color: FF1493;
  color: black;
  border-radius: 50px;
}
.f14 {
  background-color: FF69B4;
  color: white;
  transform: rotateY(180deg);
  border-radius: 50px;
}
.f15 {
  background-color: 008000;
  color: black;
  border-radius: 50px;
}
.f16 {
  background-color: 3CB371;
  color: white;
  transform: rotateY(180deg);
  border-radius: 50px;
}
.f17{
  background-color: 8B4513;
  color: black;
  border-radius: 50px;
}
.f18{
  background-color: A0522D;
  color: violet;
  transform: rotateY(180deg);
  border-radius: 50px;
}
.f19{
  background-color: 1E90FF;
  color: black;
  border-radius: 50px;
}
.f20{
  background-color: #C0C0C0;
  color: white;
  transform: rotateY(180deg);
  border-radius: 50px;
}
.f21 {
  background-color: FF00FF ;
  color: black;
  border-radius: 50px;
}
.f22 {
  background-color: 7B68EE ;
  color: white;
  transform: rotateY(180deg);
  border-radius: 50px;
}


